body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: swap;
}

.bg-red {
    background-color: #952325;
}
    
.bg-grey {

    background-color:rgb(216, 214, 214);
}

.bg-nous {
    background : linear-gradient(white,rgb(215, 215, 215),white);

}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.searchBouton {
    font-weight: 500;
}

#ben {
    margin-right:50%;
    margin-left : 42%;
}

#navbarTogglerDemo02 {
    text-align: center;
    font-weight: bold;
}

.nav-item {
    margin: 5;
}

.bg-img-karate { 

    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%),url("../img/accueil.jpg");
    background-color: #cccccc;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}


h1 {
    padding: 25%;
    text-align: center;
    font-weight: bold;
    font-size : 400%;  
}

h2 {
    text-align: center;
    font-size: 350%;
}

h3 {
    font-size :250%
}

h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 95%;
    font-weight: bold;
}

h5 {
    text-align: center;
    font-size: 80%;
}

.seancesKinfo {
    font-size: 20px;
}

.seancesKtarif-H {
    font-size: 28px;
    text-align: center;
}
.title {
    padding-top: 50px;
}

.box-titre {
    height:20px;
    margin: -12px;
}

.box-sous-titre {
    height:10px;
    margin: -15px;

}

.font-red {
    color:#E52629;
}

.font-white {
    color:white;
}

#newsletterButton {
    margin-top: 20px;
    max-height: 50px;
}

#souscriptionButton {
    margin-top: 20px;
    max-height: 80px;
    font-size: 30px;
}

.kyokushin {
    border-radius: 0px 100px 0px 100px;
}

.oyama {
    width: 250px;
    height: 300px;
    border-radius: 50px 0px 50px 0px;
}

.presentation-kyokushin {
    max-height: 200px;
}

p {
    text-align: center;
}

#equipe {
    text-align: end;
    margin-right: 50px;
}

.cards {
    min-height: 300px;
    padding-top: 10px;
}


  
.container {
    display: flex;
    width: 100%;
    padding: 4% 0%;
    box-sizing: border-box;
    height: 40vh;
  }
  
.box {
    flex: 2;
    overflow: hidden;
    transition: .5s;
    margin: 0 2px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0px;
  }
  
.box > img {
    width: 200%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
}

.seancesbox1 {
    border-radius: 0px 120px 0px 120px;
}

.seancesbox2 {
    border-radius: 120px 0px 120px 0px;
}
  

  
.box:hover { flex: 1 1 20%; }
.box:hover > img {
    width: 100%;
    height: 100%;
  }

/*------Flip card------*/
  .flip-card {
    background-color: transparent;
    width: 225px;
    height: 300px;
    perspective: 1000px;
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #952325;
    color: white;
  }
  

  .flip-card-back {
      height: 350px;
    padding : 10px;
    background-color: #952325;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }









     @media (min-width: 200px) and (max-width: 765px) {
        .bg-nous {
            height: 1500px;
        }

        h1 {
            font-size: 40px;
            padding-top: 500px;
        }

        #souscriptionButton {
            font-size : 18px;
        }
        
    }