body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: swap;
}

.bg-red {
    background-color: #952325;
}
    
.bg-grey {

    background-color:rgb(216, 214, 214);
}

.bg-nous {
    background : linear-gradient(white,rgb(215, 215, 215),white);

}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}
.searchBouton {
    font-weight: 500;
}

#ben {
    margin-right:50%;
    margin-left : 42%;
}

#navbarTogglerDemo02 {
    text-align: center;
    font-weight: bold;
}

.nav-item {
    margin: 5;
}

.bg-img-karate { 

    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%),url("../img/accueil.jpg");
    background-color: #cccccc;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}


h1 {
    padding: 25%;
    text-align: center;
    font-weight: bold;
    font-size : 400%;  
}

h2 {
    text-align: center;
    font-size: 350%;
}

h3 {
    font-size :250%
}

h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 120%;
}

h5 {
    text-align: center;
    font-size: 100%;
}

.seancesKinfo {
    font-size: 20px;
}

.seancesKtarif-H {
    font-size: 28px;
    text-align: center;
}
.title {
    padding-top: 50px;
}

.box-titre {
    height:20px;
    margin: -12px;
}

.box-sous-titre {
    height:10px;
    margin: -15px;

}

.font-red {
    color:#E52629;
}

.font-white {
    color:white;
}

#newsletterButton {
    margin-top: 20px;
    max-height: 50px;
}

#souscriptionButton {
    margin-top: 20px;
    max-height: 80px;
    font-size: 30px;
}



#oyama {
    max-width: 100%;
    align-self: center;
    border-radius: 50px 0px 50px 0px;
}

.prezclub {
    border-radius: 0px 50px 0px 50px;
}

.presentation-kyokushin {
    max-height: 250px;
}

p {
    text-align: justify;
    

}

.diapo {
    max-height: 150%;
}

#equipe {
    text-align: end;
    margin-right: 50px;
}

.cards {
    min-height: 300px;
    padding-top: 10px;
}


  
.container {
    display: flex;
    width: 100%;
    padding: 4% 0%;
    box-sizing: border-box;
    height: 40vh;
  }
  
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
.box > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
}

.seancesbox1 {
    border-radius: 0px 120px 0px 120px;
}

.seancesbox2 {
    border-radius: 120px 0px 120px 0px;
}
  

  
.box:hover { flex: 1 1 10%; }
.box:hover > img {
    width: 100%;
    height: 100%;
  }

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
   width: 100%;
    }
    
.video-responsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
    }

     @media (min-width: 200px) and (max-width: 765px) {
        .bg-nous {
            height: 3000px;
        }

        h1 {
            font-size: 40px;
            padding-top: 500px;
        }

        #souscriptionButton {
            font-size : 20px;
        }
    }